<!-- FOOTER -->
<footer id="footer">
	<!-- top footer -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">About Us</h3>
						<p> A shopping cart on an online retailer's site is a piece of software that facilitates the
							purchase of a product or service. </p>
						<ul class="footer-links">
							<li><a href="#"><i class="fa fa-map-marker"></i>Kerala</a></li>
							<li><a href="#"><i class="fa fa-envelope-o"></i>hazitgi@email.com</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Categories</h3>
						<ul class="footer-links">
						{{#each categories}}
							<li><a href="#">{{this.category}}</a></li>
						{{/each}}
						</ul>
					</div>
				</div>

				<div class="clearfix visible-xs"></div>

				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Information</h3>
						<ul class="footer-links">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Orders and Returns</a></li>
							<li><a href="#">Terms & Conditions</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Service</h3>
						<ul class="footer-links">
							<li><a href="/profile">My Account</a></li>
							<li><a href="/cart">View Cart</a></li>
							<li><a href="/my-orders">Track My Order</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /top footer -->
	<!-- /bottom footer -->
</footer>
<!-- /FOOTER -->